<h1>{{ title }}</h1>
<p>Welcome... {{ service }}</p>
<p>{{ message }}</p>
<label>Service:<input id="service" type='text' [(ngModel)]="service"></label>
<br><label>API key:<input id="key" type='text' [(ngModel)]="apikey"/></label>
<button (click)="getConfig()">Get Config</button>
<br>
<form [formGroup]="websiteForm" (ngSubmit)="submitConfig()">
  <label>Website: <input formControlName="domain"></label>
  <label>Backend: <input formControlName="originIP"></label>
  <button type="submit">Configure</button>
</form> 



<router-outlet />
